* 
{
    margin:0;
    padding:0;
}

html, body 
{
    height:100%;
    width:100%;
}

body 
{
    align-content:space-around;
    background-color:#5b5b5b;
    color:#d3d3d3;
    display:grid;
    justify-content:center;
}

label
{
    margin: 5px;
    width: 100%;
}

button
{
    width: 33%;
    margin: auto;
}

.dialog-win
{
    text-align: center;
}