body 
{
    background-color:#5b5b5b;
    color:#d3d3d3;
    display:block;
    margin: 1%;
}
canvas
{
    /* width: 100%;
    height: 100%; */
    margin: auto;
    display: block;
    margin-bottom: 2%;
}

label
{
    margin: 5px;
    width: 100%;
}

nav
{
    display: grid;
}

button
{
    margin: auto;
    width: 30%;
}

/* win */
.dialog-win
{
    text-align: center;
}